.page {
    position: relative;
    height: auto;
    background-color: #dddddd;
    padding-bottom: 30vh;
    min-height: 100vh;
  }
  
  .contentWrapper {
    position: relative;
    z-index: 1;
  }
  
  .content {
    width: 100vw;
    background-color: white;
    transform-origin: center top;
    position: relative;
    z-index: 1;
  }
  
  .test {
    height: 200vh;
  }
  