$mattBlack: #EEEEEE;
$lead: #202022;
$silk: #f3f3f3;
$gray: #39393b;
$honey: #d1a55c;
$green: #00CE79;
$black: #151515;
$lightBlack: #202022;
$white: #EEEEEE;
$blue: #00ADB5;
$lineHeightLG: 30px;
$lineHeightSM: 25px;
