@use '../../scss/variables.scss' as var;

.container {
    width: 100%;
	max-width: 496px;
	min-width: 496px;
	height: 90vh;
	position: relative;
	padding: 80px 45px;
	max-height: 1200px;
    
    h1 {
		font-size: 3rem;
		font-weight: 700;
	}
    h2 {
		font-size: 2rem;
		position: relative;
		bottom: 10px;
	}
    .bio {
		margin-top: 1rem;
		color: var.$mattBlack;
		line-height: var.$lineHeightLG;
	}

    .socials {
        margin-top: 2rem;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 2rem;
		padding-top: 2rem;
        img {
			max-width: 45px;
			border-radius: 50%;
			margin-right: 2rem;
			border: 2px solid var.$black;
		}
        .social {
            display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-right: 2rem;
            cursor: pointer;
            font-size: 14px;
            &:hover {
				color: var.$honey;
            }
        }
    }
}