@use '../../scss/variables.scss' as var;

.homeContent {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    position: relative;
    margin: 0 auto;

    .fixed {
      position: fixed;
    }
    .scroll {
      margin-left: auto;
      min-height: 100vh;
      position: relative;
      padding-top: 80px;
    }
  }