@use '../../scss/variables.scss' as var;

.itemsWorks {
  width: 100%;
  max-width: 736px;
  min-width: 736px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  height: fit-content;
  top: 80px;
}

.itemWork {
	background-color: var.$lightBlack;
	height: 216px;
	width: 648px;
	padding: 16px 32px;
	display: flex;
	position: relative;
	align-items: center;
	cursor: pointer;
	will-change: transform, opacity;
}

.galleryWork {
	position: fixed;
	pointer-events: none;
	z-index: 1000;
	width: 350px;
	height: 350px; /* match one imageWrapper */
	overflow: hidden;
	display: flex;
	align-items: flex-start; /* important */
	justify-content: center;
	// opacity: 0;
	scale: 0;
  }
  
  .workImages {
	display: flex;
	flex-direction: column;
	transition: transform 0.2s ease-out;
  }

  .imageWrapper {
	height: 350px; /* match gallery height */
	width: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #111;
	color: white;
	padding: 20px;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}


  }